In [1]:
import import_ipynb

In [2]:
from command_center_1 import *

importing Jupyter notebook from command_center_1.ipynb

In [5]:
lab_malware_classification_list

['date',
 'malware_count',
 'pua_count',
 'adware_count',
 'unknown_count',
 'clean_count',
 'total_count']

In [6]:
lab_malware_classification

,date,malware_count,pua_count,adware_count,unknown_count,clean_count,total_count
0,2023-05-20,2078,1032,893,28802,156,280838
1,2023-05-24,2112,932,763,24869,182,296025
2,2023-05-25,1934,934,837,24604,176,280205
3,2023-05-26,1834,1134,394,22589,103,290985
4,2023-05-27,2232,833,563,22656,190,286259

In [7]:
lab_malware_classification['date']=pd.to_datetime(lab_malware_classification['date'])

In [14]:
lab_malware_classification.set_index('date',inplace=True)

In [15]:
lab_malware_classification

,malware_count,pua_count,adware_count,unknown_count,clean_count,total_count
date,,,,,,
2023-05-20,2078,1032,893,28802,156,280838
2023-05-24,2112,932,763,24869,182,296025
2023-05-25,1934,934,837,24604,176,280205
2023-05-26,1834,1134,394,22589,103,290985
2023-05-27,2232,833,563,22656,190,286259

In [22]:
#getting the data
files_by_classification=lab_malware_classification.loc["2023-05-20"].to_list()

In [25]:
files_by_classification_list=lab_malware_classification.columns.to_list()

In [26]:
files_by_classification_dict = dict(zip(files_by_classification,files_by_classification_list))

In [27]:
files_by_classification_dict

{2078: 'malware_count',
 1032: 'pua_count',
 893: 'adware_count',
 28802: 'unknown_count',
 156: 'clean_count',
 280838: 'total_count'}

In [3]:
def fbc (dt):
    import import_ipynb    
    from command_center_1 import *
    #converting date to date time
    dt=str(dt)
    lab_malware_classification['date']=pd.to_datetime(lab_malware_classification['date'])
    
    
    #setting date as Index 
    lab_malware_classification.set_index('date',inplace=True)
    
    #passing the value
    files_by_classification=lab_malware_classification.loc[dt].to_list()
    
    #getting the columns
    files_by_classification_list=lab_malware_classification.columns.to_list()
    
    #converting to dict
    files_by_classification_dict = dict(zip(files_by_classification,files_by_classification_list))
    
    print(files_by_classification_dict)

SyntaxError: import * only allowed at module level (290434673.py, line 1)

In [1]:
def fbc1(dt):
    import import_ipynb
    import pandas as pd
    import command_center_1
    while True:
        try:
                    
        
    #converting date to date time
            dt=str(dt)
            command_center_1.lab_malware_classification['date']=pd.to_datetime(command_center_1.lab_malware_classification['date'])
    
    
    #setting date as Index 
            command_center_1.lab_malware_classification.set_index('date',inplace=True)
    
    #passing the value
            files_by_classification = command_center_1.lab_malware_classification.loc[dt].to_list()
    
    #getting the columns
            files_by_classification_list = command_center_1.lab_malware_classification.columns.to_list()
    
    #converting to dict
            files_by_classification_dict = dict (zip ( files_by_classification_list , files_by_classification ) )
            
        
            return files_by_classification_dict
           
            
            break
            
        except (KeyError,NameError,KeyboardInterrupt):
            pass

In [2]:
fbc1('2023-05-20')

importing Jupyter notebook from command_center_1.ipynb

{'malware_count': 2078,
 'pua_count': 1032,
 'adware_count': 893,
 'unknown_count': 28802,
 'clean_count': 156,
 'total_count': 280838}

# OS wise end points protected.

In [3]:
import import_ipynb
from command_center_1 import *

importing Jupyter notebook from command_center_1.ipynb

In [4]:
import pandas as pd

In [5]:
platform_detection_matrix

,date,platform_name,ngav_detection_count,arw_detection_count,network_detection_count,engine_detection_count,protected_endpoint_count
0,2023-04-23,Windows 8.1 64 bit,NaN,NaN,NaN,NaN,NaN
1,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
2,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3,2023-04-23,Windows 8.1,NaN,NaN,NaN,NaN,NaN
4,2023-04-23,Windows 8.1 64 bit,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3664,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3665,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3666,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3667,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3668,2023-04-23,Windows 7 64 bit,NaN,NaN,NaN,NaN,NaN

In [15]:
df = platform_detection_matrix[['date','platform_name']].copy()

In [16]:
df

            date       platform_name
0     2023-04-23  Windows 8.1 64 bit
1     2023-04-23   Windows 10 64 bit
2     2023-04-23   Windows 10 64 bit
3     2023-04-23         Windows 8.1
4     2023-04-23  Windows 8.1 64 bit
...          ...                 ...
3664  2023-04-23   Windows 10 64 bit
3665  2023-04-23   Windows 10 64 bit
3666  2023-04-23   Windows 10 64 bit
3667  2023-04-23   Windows 10 64 bit
3668  2023-04-23    Windows 7 64 bit

[3669 rows x 2 columns]

In [12]:
#df['date']=pd.to_datetime(df['date'])

In [13]:
#df.set_index('date',inplace=True)

In [17]:
del df['date']

In [18]:
df

           platform_name
0     Windows 8.1 64 bit
1      Windows 10 64 bit
2      Windows 10 64 bit
3            Windows 8.1
4     Windows 8.1 64 bit
...                  ...
3664   Windows 10 64 bit
3665   Windows 10 64 bit
3666   Windows 10 64 bit
3667   Windows 10 64 bit
3668    Windows 7 64 bit

[3669 rows x 1 columns]

In [83]:
df.nunique()

platform_name    18
dtype: int64

In [107]:
df.describe()

            platform_name
count                3669
unique                 18
top     Windows 10 64 bit
freq                 1545

<bound method NDFrame._add_numeric_operations.<locals>.all of            platform_name
0     Windows 8.1 64 bit
1      Windows 10 64 bit
2      Windows 10 64 bit
3            Windows 8.1
4     Windows 8.1 64 bit
...                  ...
3664   Windows 10 64 bit
3665   Windows 10 64 bit
3666   Windows 10 64 bit
3667   Windows 10 64 bit
3668    Windows 7 64 bit

[3669 rows x 1 columns]>

In [24]:
df.groupby('platform_name').all()

Empty DataFrame
Columns: []
Index: [Windows 10, Windows 10 64 bit, Windows 11 64 bit, Windows 2003 Enterprise Edition, Windows 2003 Standard Edition, Windows 7, Windows 7 64 bit, Windows 8, Windows 8 64 bit, Windows 8.1, Windows 8.1 64 bit, Windows Server 2008 R2 64 bit, Windows Server 2012 64 bit, Windows Server 2012 R2 64 bit, Windows Server 2016 64 bit, Windows Server 2019 64 bit, Windows Server 2022 64 bit, Windows XP Professional]

In [26]:
df1 = df.value_counts()

In [27]:
df1

platform_name
Windows 10 64 bit                  1545
Windows 7 64 bit                    640
Windows 7                           489
Windows 8.1 64 bit                  267
Windows Server 2016 64 bit          165
Windows Server 2012 R2 64 bit       122
Windows 10                           78
Windows Server 2008 R2 64 bit        72
Windows 8 64 bit                     68
Windows 8.1                          58
Windows 11 64 bit                    43
Windows XP Professional              37
Windows Server 2012 64 bit           32
Windows 8                            28
Windows 2003 Enterprise Edition      12
Windows Server 2019 64 bit            8
Windows 2003 Standard Edition         4
Windows Server 2022 64 bit            1
dtype: int64

In [29]:
df1 = pd.DataFrame(df1)

#

In [30]:
df1

                                    0
platform_name
Windows 10 64 bit                1545
Windows 7 64 bit                  640
Windows 7                         489
Windows 8.1 64 bit                267
Windows Server 2016 64 bit        165
Windows Server 2012 R2 64 bit     122
Windows 10                         78
Windows Server 2008 R2 64 bit      72
Windows 8 64 bit                   68
Windows 8.1                        58
Windows 11 64 bit                  43
Windows XP Professional            37
Windows Server 2012 64 bit         32
Windows 8                          28
Windows 2003 Enterprise Edition    12
Windows Server 2019 64 bit          8
Windows 2003 Standard Edition       4
Windows Server 2022 64 bit          1

In [38]:
df1= df1.reset_index()

In [39]:
df1

                      platform_name     0
0                 Windows 10 64 bit  1545
1                  Windows 7 64 bit   640
2                         Windows 7   489
3                Windows 8.1 64 bit   267
4        Windows Server 2016 64 bit   165
5     Windows Server 2012 R2 64 bit   122
6                        Windows 10    78
7     Windows Server 2008 R2 64 bit    72
8                  Windows 8 64 bit    68
9                       Windows 8.1    58
10                Windows 11 64 bit    43
11          Windows XP Professional    37
12       Windows Server 2012 64 bit    32
13                        Windows 8    28
14  Windows 2003 Enterprise Edition    12
15       Windows Server 2019 64 bit     8
16    Windows 2003 Standard Edition     4
17       Windows Server 2022 64 bit     1

In [40]:
df1.columns=['platform_name','count']

In [41]:
df1

                      platform_name  count
0                 Windows 10 64 bit   1545
1                  Windows 7 64 bit    640
2                         Windows 7    489
3                Windows 8.1 64 bit    267
4        Windows Server 2016 64 bit    165
5     Windows Server 2012 R2 64 bit    122
6                        Windows 10     78
7     Windows Server 2008 R2 64 bit     72
8                  Windows 8 64 bit     68
9                       Windows 8.1     58
10                Windows 11 64 bit     43
11          Windows XP Professional     37
12       Windows Server 2012 64 bit     32
13                        Windows 8     28
14  Windows 2003 Enterprise Edition     12
15       Windows Server 2019 64 bit      8
16    Windows 2003 Standard Edition      4
17       Windows Server 2022 64 bit      1

In [43]:
uniques = df1['platform_name'].to_list()
print(uniques)

['Windows 10 64 bit', 'Windows 7 64 bit', 'Windows 7', 'Windows 8.1 64 bit', 'Windows Server 2016 64 bit', 'Windows Server 2012 R2 64 bit', 'Windows 10', 'Windows Server 2008 R2 64 bit', 'Windows 8 64 bit', 'Windows 8.1', 'Windows 11 64 bit', 'Windows XP Professional', 'Windows Server 2012 64 bit', 'Windows 8', 'Windows 2003 Enterprise Edition', 'Windows Server 2019 64 bit', 'Windows 2003 Standard Edition', 'Windows Server 2022 64 bit']

In [44]:
df1.head(5)

                platform_name  count
0           Windows 10 64 bit   1545
1            Windows 7 64 bit    640
2                   Windows 7    489
3          Windows 8.1 64 bit    267
4  Windows Server 2016 64 bit    165

In [46]:
df2=df1[5:]

In [51]:
df2['count']

5     122
6      78
7      72
8      68
9      58
10     43
11     37
12     32
13     28
14     12
15      8
16      4
17      1
Name: count, dtype: int64

In [52]:
l1= df2['count'].to_list()
l1

[122, 78, 72, 68, 58, 43, 37, 32, 28, 12, 8, 4, 1]

In [54]:
sum(l1)

563

In [57]:
others= df2['count'].sum()
others

563

In [61]:
new_dict = {'platform_name':'Others','count':others}
new_dict

{'platform_name': 'Others', 'count': 563}

In [68]:
new_df=pd.DataFrame(new_dict,index=[0])

In [63]:
new_dict

{'platform_name': 'Others', 'count': 563}

In [69]:
new_df

  platform_name  count
0        Others    563

In [70]:
top_df = df1.head()

In [71]:
top_df

                platform_name  count
0           Windows 10 64 bit   1545
1            Windows 7 64 bit    640
2                   Windows 7    489
3          Windows 8.1 64 bit    267
4  Windows Server 2016 64 bit    165

In [72]:
result_df = top_df.append(new_dict,ignore_index= True)
result_df

/tmp/ipykernel_12416/587150557.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = top_df.append(new_dict,ignore_index= True)

                platform_name  count
0           Windows 10 64 bit   1545
1            Windows 7 64 bit    640
2                   Windows 7    489
3          Windows 8.1 64 bit    267
4  Windows Server 2016 64 bit    165
5                      Others    563

In [74]:
result_df_1 = pd.concat([top_df,new_df],ignore_index=True)

In [75]:
result_df_1

                platform_name  count
0           Windows 10 64 bit   1545
1            Windows 7 64 bit    640
2                   Windows 7    489
3          Windows 8.1 64 bit    267
4  Windows Server 2016 64 bit    165
5                      Others    563

In [76]:
result_df_1['platform_name'].to_list()

['Windows 10 64 bit',
 'Windows 7 64 bit',
 'Windows 7',
 'Windows 8.1 64 bit',
 'Windows Server 2016 64 bit',
 'Others']

In [77]:
result_df_1['count'].to_list()

[1545, 640, 489, 267, 165, 563]

In [78]:
keys = result_df_1['platform_name'].to_list()
values = result_df_1['count'].to_list()

In [79]:
res = dict(zip(keys,values))
res

{'Windows 10 64 bit': 1545,
 'Windows 7 64 bit': 640,
 'Windows 7': 489,
 'Windows 8.1 64 bit': 267,
 'Windows Server 2016 64 bit': 165,
 'Others': 563}

In [81]:
total_count = df1['count'].sum()
total_count

3669

In [82]:
uniques

['Windows 10 64 bit',
 'Windows 7 64 bit',
 'Windows 7',
 'Windows 8.1 64 bit',
 'Windows Server 2016 64 bit',
 'Windows Server 2012 R2 64 bit',
 'Windows 10',
 'Windows Server 2008 R2 64 bit',
 'Windows 8 64 bit',
 'Windows 8.1',
 'Windows 11 64 bit',
 'Windows XP Professional',
 'Windows Server 2012 64 bit',
 'Windows 8',
 'Windows 2003 Enterprise Edition',
 'Windows Server 2019 64 bit',
 'Windows 2003 Standard Edition',
 'Windows Server 2022 64 bit']

In [3]:
lab_malware_classification

,date,malware_count,pua_count,adware_count,unknown_count,clean_count,total_count
0,2023-05-20,2078,1032,893,28802,156,280838
1,2023-05-24,2112,932,763,24869,182,296025
2,2023-05-25,1934,934,837,24604,176,280205
3,2023-05-26,1834,1134,394,22589,103,290985
4,2023-05-27,2232,833,563,22656,190,286259

In [5]:
lab_malware_classification[['date','clean_count']]

         date  clean_count
0  2023-05-20          156
1  2023-05-24          182
2  2023-05-25          176
3  2023-05-26          103
4  2023-05-27          190

In [10]:
clean_file = lab_malware_classification[['date','clean_count']].to_dict(orient='str')
clean_file

/tmp/ipykernel_19465/387420498.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  clean_file = lab_malware_classification[['date','clean_count']].to_dict(orient='str')

{'date': 0    2023-05-20
 1    2023-05-24
 2    2023-05-25
 3    2023-05-26
 4    2023-05-27
 Name: date, dtype: object,
 'clean_count': 0    156
 1    182
 2    176
 3    103
 4    190
 Name: clean_count, dtype: int64}

In [14]:
clean_file = lab_malware_classification[['date','clean_count']].to_dict(orient='split')
clean_file

{'index': [0, 1, 2, 3, 4],
 'columns': ['date', 'clean_count'],
 'data': [['2023-05-20', 156],
  ['2023-05-24', 182],
  ['2023-05-25', 176],
  ['2023-05-26', 103],
  ['2023-05-27', 190]]}